h1 {
    color: rgb(6, 122, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 20px 0px;
}

p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 5px 0px;
}

button {
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 15px;
    transition: background-color 0.5s, color 0.5s;
    color: white;
    background-color: rgb(55, 58, 63);
    width: 100%;
}

#b1, #b2{
    margin: 0px 5px 0px 0px;
}

button:hover {
    background-color: rgb(6, 122, 255);
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}

#im {
    width: 80%;
    height: 400px;
    box-align: center;
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    margin: 5px 0px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    box-align: center;
    margin: 0px auto;
}